$color-site-main: #1C888D;
$color-site-sec: #E72C31;
$color-site-third: #4CCB45;
$color-site-fourth: #E9832C;

$theme-site-colors: (
	"main": $color-site-main,
	"sec": $color-site-sec,
	"third": $color-site-third,
	"fourth": $color-site-fourth,
);
