// media queries
$desktop-width: 1920px;
$laptop-width: 1440px;
$pad-large-width: 1024px;
$pad-width: 768px;
$mobile-width: 480px;

// 色系 
// 600, 200：border, 100：light background
$color-gray: (
	"1000": #333333,
	"900": #444444,
	"800": #555555,
	"700": #666666,
	"600": #7a7a7a,
	"500": #b1b0b0,
	"400": #cccccc,
	"300": #dddddd,
	"200": #eaeaea,
	"100": #fafafa
	);

$color-point: (
	"price": #b50e16,
	"notification": #fb2020,
	"cart": #e34042,
	);

// 色系 - 回饋金 & 折價券
$color-coupon: #f4b026;
$color-reward: #24a9f6;

// 色系 - 活動
$event-flesh-red: #d20200;

// 色系 - 企業
$color-main: ("default": #FFBE00, "active": darken(#FFBE00, 5%));
$color-yahoojp: ("default": #f77800, "active": darken(#f77800, 5%));
$color-ebayus: ("default": #007dff, "active": darken(#007dff, 5%));
$color-jpshopping: ("default": #ff5c5c, "active": darken(#ff5c5c, 5%));
$color-jpselection: ("default": #fa3c7a, "active": darken(#fa3c7a, 5%));
$color-letaotalks: ("default": #00ce89, "active": darken(#00ce89, 5%));

// 色系 - 外站
$color-line: #00c300;
$color-esun: #4ab5af;

// 字型
$font-pages-header-title: 1.75rem; // 28px;
$font-pages-list-title: 1.3rem; // 24px;
$font-pages-list-content: 1.15rem; // 20px;
$font-pages-txt: 1rem; // 16px;
$font-pages-txt-min: 0.75rem; // 12px;
