@import "_siteVariable";
@import "_mixin";
@import "_grid";

// init
body {
	font-size: 15px;
}

// nav
.navbar {
	transition: all 0.3s;
	&-nav {
		.nav {
			&-item {
				padding: 0 0.5rem;
				&:last-child {
					padding-right: 0;
				}
			}
			&-link {
				padding-right: 0 !important;
				padding-left: 0 !important;
				position: relative;
				display: inline-block;
				line-height: 25px;
				letter-spacing: 2px;
				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					height: 2px;
					background: map-get($map: $theme-site-colors, $key: "main");
					transition: all 0.3s;
				}
				&:hover,
				&.active {
					&::before {
						width: 100%;
					}
				}
				&__count {
					position: absolute;
					left: 100%;
					top: 5px;
					padding: 0.25rem 0.5rem;
				}
			}
		}
	}
	&-light {
		&.bg-white {
			.navbar {
				&-nav {
					.nav {
						&-link {
							&:hover,
							&.active {
								color: map-get(
									$map: $theme-site-colors,
									$key: "main"
								);
								&::before {
									color: map-get(
										$map: $theme-site-colors,
										$key: "main"
									);
								}
							}
						}
					}
				}
			}
		}
	}
	&-dark {
		&.bg-primary {
			.navbar {
				&-nav {
					.nav {
						&-link {
							color: white;
							&:hover {
								&::before {
									background: white;
								}
							}
						}
					}
				}
			}
		}
	}
}

// footer
.footer {
	&-nav {
		border-bottom: 1px solid map-get($map: $grays, $key: "700");
	}
}

// utilities

// side-content
.site-content {
	min-height: 80vh;
}

// backToTop
.side-navigation {
	&__button--to-top {
		right: 15px;
		bottom: 15px;
		border: 0;
		background: 0;
		box-shadow: none;
		z-index: 1;
		position: fixed;
		transition: all 0.3s;
	}
}

//  breadcrumb
.breadcrumb {
	&-wrapper {
		border-top: 1px solid map-get($map: $grays, $key: "200");
		border-bottom: 1px solid map-get($map: $grays, $key: "200");
		margin-bottom: 1.25rem;
	}
	margin-bottom: 0;
	&-item {
		+ .breadcrumb-item {
			&::before {
				font-family: bootstrap-icons !important;
			}
		}
	}
}

// publicDate
.public {
	&-date {
		padding: 0.25rem;
		text-align: center;
		&__main {
			font-weight: bold;
			font-size: 1.25rem;
			font-family: "Arial Black";
		}
		&__sec {
			font-size: 12px;
		}
	}
}

// tag
.tag {
	&__element {
		&--main {
			background: map-get($map: $theme-site-colors, $key: "main");
		}
		&--sec {
			background: map-get($map: $theme-site-colors, $key: "sec");
		}
		&--third {
			background: map-get($map: $theme-site-colors, $key: "third");
		}
		&--fourth {
			background: map-get($map: $theme-site-colors, $key: "fourth");
		}
	}
}

// login
.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.info-table {
	td {
		&:first-child {
			background: map-get($map: $grays, $key: "200");
		}
	}
	&--compare {
		td {
			&:first-child {
				width: 20%;
				text-align: right;
				word-break: keep-all;
			}
		}
		img {
			max-width: 15vw;
			@include mobile {
				max-width: 30vw;
			}
		}
	}
	&--detail {
		td {
			&:first-child {
				width: 30%;
			}
		}
	}
}

// index
.index {
	// index-feature
	&-feature {
		position: relative;
		background: url("assets/images/index_feature_bg.png"),
			linear-gradient(0deg, white 50%, #b9efff 100%);
		background-position: center bottom;
		background-size: contain;
		@include pad {
			background-size: cover;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.5;
			background-color: white;
			z-index: 0;
		}
		&__title {
			position: relative;
			z-index: 1;
		}
		&-card {
			position: relative;
			z-index: 1;
			display: inline-block;
			&:hover {
				.index-feature-image {
					img {
						filter: blur(0px);
					}
				}
			}
			&__title {
				margin: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
				color: white;
				font-weight: bold;
			}
		}
		&-image {
			position: relative;
			display: inline-block;
			min-width: 125px;
			width: 125px;
			height: 125px;
			overflow: hidden;
			position: relative;
			letter-spacing: normal;
			border-radius: 50%;
			border: 3px solid white;
			background: map-get($map: $grays, $key: "200");
			zoom: 1;
			@include pad {
				min-width: 100px;
				width: 100px;
				height: 100px;
			}
			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: auto;
				filter: blur(3px);
				transition: all 0.3s;
			}
		}
	}
	// index-cases
	&-cases {
		&-footer {
			.cases-footer {
				&__button {
					min-width: 10vw;
					@include mobile {
						width: 100%;
					}
				}
			}
		}
	}
	// index-news
	&-news {
		position: relative;
		background: url("assets/images/index_news_bg.png");
		background-position: center bottom;
		background-size: cover;
		&-header {
			display: flex;
			justify-content: space-between;
		}
		.list-group-item-action {
			&:hover {
				background-color: map-get($map: $grays, $key: "200");
			}
		}
		// index-news-image
		&-image {
			position: relative;
			display: block;
			overflow: hidden;
			background: url("assets/images/index_news_main.jpg");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 100%;
			background-color: rgba(black, 0.3);
			background-blend-mode: multiply;
			padding-top: 61.5%;
			transition: all 0.3s;
			&::after {
				display: block;
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: all 0.3s;
			}
			&:hover {
				background-size: 115%;
				.index-news-image__text {
					&::after {
						opacity: 1;
						transform: translate(-50%, -50%);
						right: -25%;
						top: 50%;
						color: #fff;
					}
				}
			}
			&__text {
				opacity: 1;
				z-index: 1;
				position: absolute;
				color: white;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: all 0.3s;
				font-size: 2rem;
				&::after {
					content: "→";
					position: absolute;
					top: 50%;
					right: 5%;
					transform: translate(-50%, -50%);
					opacity: 0;
					transition: all 0.3s;
				}
			}
		}
		// index-news-list
		&-list {
			margin-bottom: 0.5rem;
			overflow: hidden;
			&:last-child {
				margin-bottom: 0;
			}
			.list-group-item {
				transition: all 0.3s;
			}
			&__title {
				font-weight: bold;
				max-width: 430px;
				@include text-hide-ellipsis(1);
				@include mobile {
					max-width: 255px;
				}
			}
			&__content {
				padding-left: 0.75rem;
				border-left: 1px solid map-get($map: $grays, $key: "300");
			}
			&__description {
				@include text-hide-ellipsis(2);
			}
		}
	}
}

// page - cases
// cases-sort
.cases-sort {
	// cases-sort-status
	&-status {
		background: white;
		border: 1px solid map-get($map: $grays, $key: "300");
		color: map-get($map: $grays, $key: "600");
		&:hover {
			border: 1px solid map-get($map: $theme-site-colors, $key: "main");
		}
		&.dropdown-toggle.show {
			&:focus {
				&::after {
					transform: rotate(180deg);
				}
			}
		}
	}
	// cases-sort-select
	&-select {
		&__option {
			color: map-get($map: $grays, $key: "600");
			&:active,
			&.active {
				font-weight: bold;
				color: map-get($map: $theme-site-colors, $key: "main");
				background: white;
			}
		}
	}
}

// case-card
.cases-card {
	// case-card-display
	&-display {
		&__button {
			display: inline-block;
			position: relative;
			cursor: pointer;
			margin-right: 0.25rem;
			transition: all 0.3s;
			&.isActive {
				color: map-get($map: $theme-site-colors, $key: "main");
				font-weight: bold;
			}
			&::after {
				content: "";
				position: relative;
				display: inline-block;
				width: 2px;
				height: 1.75rem;
				margin: 0 0.5rem;
				vertical-align: middle;
				background: map-get($map: $grays, $key: "200");
			}
			&:last-child {
				margin-right: 0;
				&::after {
					display: none;
				}
			}
			&:hover {
				color: map-get($map: $theme-site-colors, $key: "main");
			}
		}
		&__icon {
			vertical-align: middle;
		}
	}
}

.card {
	overflow: hidden;
	transition: all 0.3s ease;
	.case-item {
		&__card {
			.card {
				&-body {
					padding: 1rem 0.5rem;
					@include padWide {
						padding: 0.25rem;
					}
				}
				&-image {
					position: relative;
					overflow: hidden;
					> img {
						width: 100%;
						height: 203.25px;
						zoom: 1;
						transition: all 0.3s ease-out;
						object-fit: cover;
						opacity: 1;
					}
					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 4;
						opacity: 0;
						transition: all 0.3s ease;
					}
				}
				&-price {
					padding-left: 0.5rem;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 2.25rem;
					line-height: 2.25rem;
					font-size: 1.25rem;
					font-weight: 700;
					z-index: 1;
					background: linear-gradient(
						to right,
						white 0%,
						white 40%,
						#ffffff00 95%
					);
					&__price {
						margin-right: 0.25rem;
						&:last-child {
							margin-right: 0;
						}
						&-unit {
							color: $dark;
							font-size: 1rem;
						}
						&--selling {
							color: $site-sec;
						}
						&--origin {
							color: map-get($map: $grays, $key: "500");
						}
					}
				}
				&-tag {
					position: absolute;
					top: 0;
					left: 0;
					padding: 0.5rem;
					width: 100%;
					line-height: 1;
					z-index: 1;
					.tag {
						margin-bottom: 0.25rem;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
				&-bookmark {
					position: absolute;
					top: 0.25rem;
					right: 0.25rem;
					z-index: 2;
					&__button {
						cursor: pointer;
						padding: 0;
						background: 0;
						border: 0;
						line-height: initial;
						color: map-get($map: $theme-site-colors, $key: "sec");
					}
				}
				&-title {
					font-size: 1.25rem;
					text-align: center;
				}
				&-text {
					padding-top: 0.5rem;
					font-size: 1rem;
					text-align: center;
					border-top: 2px solid
						map-get($map: $theme-site-colors, $key: "main");
					&-list {
						display: flex;
						justify-content: center;
						&__item {
							display: inline-block;
							&::after {
								display: inline-block;
								content: "|";
								color: map-get($map: $grays, $key: "200");
								margin: 0 0.25rem;
							}
							&:last-child {
								&::after {
									display: none;
								}
							}
						}
						&--light {
							color: map-get($map: $grays, $key: "500");
						}
					}
					&__icon {
						display: inline-block;
						margin-right: 0.125rem;
						text-align: center;
						&-parking {
							width: 1.5rem;
							height: 1.5rem;
							border: 1px solid white;
							border-radius: 0.25rem;
							color: white;
							font-weight: bold;
							background: map-get(
								$map: $theme-site-colors,
								$key: "main"
							);
						}
					}
					@include pad {
						text-align: center;
					}
				}
			}
			&--cardStyle {
				.card {
					&-text {
						&-list {
							&__item {
								font-size: 0.875rem;
							}
						}
					}
				}
			}
			&--listStyle {
				.card {
					&-title {
						position: relative;
						text-align: initial;
						font-size: 1.5rem;
						@include pad {
							text-align: center;
							font-size: 1.25rem;
						}
					}
					&-image {
						img {
							height: 250.25px;
							@include pad {
								height: 203.25px;
							}
						}
					}
					&-text {
						text-align: initial;
						font-size: 1rem;
						@include pad {
							text-align: center;
						}
						&-list {
							justify-content: flex-start;
							margin-bottom: 0.25rem;
						}
					}
					&-feature {
						&-tag {
							&__item {
								color: map-get(
									$map: $theme-site-colors,
									$key: "main"
								);
								background: lighten(
									map-get(
										$map: $theme-site-colors,
										$key: "main"
									),
									65%
								);
								display: inline-block;
								margin-right: 0.25rem;
								&:last-child {
									margin-right: 0;
								}
							}
						}
					}
					&-price {
						padding: 0;
						width: initial;
						height: initial;
						right: 0;
						left: initial;
						top: 0;
						background: 0;
						line-height: initial;
					}
					&-description {
						width: 100%;
						height: 1.25rem;
						margin-bottom: 0.25rem;
					}
				}
			}
		}
	}
	&:hover {
		box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
		.case-item {
			&__card {
				&--cardStyle {
					.card-image {
						img {
							transform: scale(1.2);
						}
					}
				}
				&--listStyle {
					.card-image {
						img {
							transform: scale(1.2);
						}
						&::before {
							opacity: 1;
							background: rgba(255, 255, 255, 0.25);
						}
					}
				}
			}
		}
	}
	&.is-loading {
		cursor: default;
		&:hover {
			box-shadow: none;
			.case-item {
				&__card {
					&--cardStyle {
						.card-image {
							&::before {
								opacity: 0;
							}
						}
					}
					&--listStyle {
						.card-image {
							img {
								transform: scale(1.2);
							}
							&::before {
								opacity: 1;
								background: rgba(255, 255, 255, 0.25);
							}
						}
					}
				}
			}
		}
		.case-item {
			&__card {
				.card {
					&-image {
						width: 100%;
						height: auto;
						img {
							opacity: 0;
						}
					}
					&-title {
						height: 1.5rem;
					}
					&-text {
						border-top: 2px solid map-get($map: $grays, $key: "500");
						&-list {
							&__item {
								width: 33.3%;
								height: 1.25rem;
								margin-right: 0.25rem;
								&--parking {
									width: 25%;
								}
								&::after {
									display: none;
								}
								&:last-child {
									margin-right: 0;
								}
							}
						}
					}
				}
				&--listStyle {
					.card {
						&-image {
							max-width: 335px;
						}
						&-feature-tag__item {
							border-radius: 0;
							min-width: 50px;
							height: 1.25rem;
						}
					}
				}
			}
		}
		.card-text-list__item {
			&::after {
				background: white;
			}
		}
		// loading status
		.card {
			&-image,
			&-title,
			&-description,
			&-text-list__item,
			&-feature-tag__item {
				background: linear-gradient(
						90deg,
						rgba(255, 255, 255, 0) 30%,
						rgba(255, 255, 255, 0.5) 50%,
						rgba(255, 255, 255, 0) 30%
					)
					map-get($map: $grays, $key: "300");
				background-size: 200% 100%;
				background-position-x: 110%;
				animation: 2s cardLoadingAnimate ease-in-out infinite;
			}
		}
	}
}

@keyframes cardLoadingAnimate {
	to {
		background-position-x: -90%;
	}
}

// page - case
.case {
	// case-header
	&-header {
		// case-header-inner
		&-inner {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__subtitle {
			color: map-get($map: $grays, $key: "600");
		}
		&-tag {
			font-size: 1rem;
			margin-right: 0.5rem;
		}
	}
	// case-tag
	&-tag {
		margin-bottom: 0.25rem;
		.tag {
			margin-right: 0.25rem;
			margin-bottom: 0.25rem;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	// case-price
	&-price {
		.price {
			&__unit {
				color: black;
			}
			&__selling {
				font-size: 2rem;
				margin-bottom: 0;
				@include pad {
					font-size: 1.25rem;
				}
			}
			&__origin {
				color: map-get($map: $grays, $key: "500");
			}
		}
	}
	// case-aside
	&-aside {
		// case-aside-list
		&-list {
			.info-list {
				&-item {
					padding: 0.5rem 0;
					border-top: 1px dotted map-get($map: $grays, $key: "600");
					list-style: none;
				}
				&-title {
					font-weight: bold;
					font-size: 1rem;
					margin-right: 0.25rem;
					color: map-get($map: $theme-site-colors, $key: "main");
					&__icon {
						vertical-align: middle;
					}
				}
			}
		}
		&-action {
			&__button {
				margin-bottom: 1rem;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	// case-assistant
	&-assistant {
		&__title {
			padding-bottom: 0.5rem;
			border-bottom: 2px solid
				map-get($map: $theme-site-colors, $key: "main");
			color: map-get($map: $theme-site-colors, $key: "main");
		}
		&__image {
			background-size: cover;
			width: 70px;
			height: 70px;
			border: 1px solid map-get($map: $grays, $key: "500");
			border-radius: 50%;
		}
		&__icon {
			display: inline-block;
			margin-right: 0.25rem;
		}
	}
	// case-slide
	&-slide {
		.carousel-slide {
			&__image {
				height: 500px;
				@include pad {
					height: 225px;
				}
			}
			.swiper {
				&-button {
					&-prev {
						left: 15px;
					}
					&-next {
						right: 15px;
					}
					&-prev,
					&-next {
						color: white;
					}
				}
				&-pagination-fraction {
					padding: 0.25rem 0.5rem;
					width: initial;
					left: 10px;
					color: white;
					background: rgba(0, 0, 0, 0.5);
					&::before {
						content: "\f220";
						display: inline-block;
						margin-right: 0.5rem;
						width: 1.25rem;
						height: 1.25rem;
						font-size: 1.25rem;
						line-height: 1.25rem;
						vertical-align: top;
						font-family: bootstrap-icons;
					}
				}
			}
		}
		.thumbnail-slide {
			margin-top: 1rem;
			&__image {
				height: 100px;
				cursor: pointer;
				@include pad {
					height: 70px;
				}
			}
			.swiper-button {
				&-prev {
					left: 0;
				}
				&-next {
					right: 0;
				}
				&-prev,
				&-next {
					width: calc(var(--swiper-navigation-size) / 44 * 20);
					height: var(--swiper-navigation-size);
					padding: 0.1rem;
					background: rgba(0, 0, 0, 0.5);
					color: white;
					&::after {
						font-size: 1rem;
						font-weight: bold;
					}
				}
			}
			.slide-item {
				&.swiper-slide {
					opacity: 0.4;
					&-thumb-active {
						opacity: 1;
						.thumbnail-slide__image {
							border: 3px solid
								map-get($map: $theme-site-colors, $key: "main");
						}
					}
				}
			}
		}
		&-footer {
			font-size: 1rem;
			&-notice {
				color: map-get($map: $grays, $key: "600");
			}
		}
	}
	// case-detail
	&-detail {
		// case-detail-section
		&-section {
			margin-bottom: 1rem;
		}
		&-header {
			overflow: hidden;
			margin-bottom: 1rem;
			&__title {
				margin: 0;
				padding-right: 1rem;
				position: relative;
				display: inline-block;
				z-index: 2;
				color: map-get($map: $theme-site-colors, $key: "main");
				background: white;
				&::after {
					content: "";
					position: absolute;
					z-index: 1;
					top: 50%;
					left: 100%;
					transform: translate(0, -50%);
					width: 100vw;
					height: 2px;
					background: map-get($map: $theme-site-colors, $key: "main");
				}
			}
		}
	}
	// case-related
	&-related {
		.list-slide {
			padding-bottom: 0.5rem;
			.swiper-button {
				&-prev {
					left: 0;
				}
				&-next {
					right: 0;
				}
				&-prev,
				&-next {
					width: calc(var(--swiper-navigation-size) / 44 * 25);
					height: var(--swiper-navigation-size);
					padding: 0.5rem;
					background: rgba(0, 0, 0, 0.5);
					color: white;
					&::after {
						font-size: 1.25rem;
						font-weight: bold;
					}
				}
			}
		}
	}
}

// page - news
// news-slide
.news-slide {
	background: map-get($map: $grays, $key: "200");
	&__link {
		overflow: hidden;
		&:hover {
			.news-slide__image {
				background-size: 115%;
			}
		}
	}
	&__image {
		padding-top: 50%;
		background-position: center;
		background-size: 100%;
		transition: all 0.3s ease-out;
	}
	&__title {
		margin: 0.5rem 0;
	}
	&__content {
		@include text-hide-ellipsis(3);
	}
	.swiper {
		min-height: 16vw;
		@include laptop {
			min-height: 42.5vh;
		}
		.swiper-pagination {
			bottom: 0;
			&-bullet {
				width: 60px;
				height: 4px;
				border-radius: 0;
				opacity: 0.5;
				transition: all 0.3s;
				background: map-get($map: $theme-site-colors, $key: "main");
				&-active {
					opacity: 1;
					background: map-get($map: $theme-site-colors, $key: "main");
				}
			}
		}
	}
}

// page
// news-list
.news-list {
	// news-list-column
	&-column {
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
	// news-list-header
	&-header {
		&__title {
			&.color-main {
				color: map-get($map: $theme-site-colors, $key: "main");
			}
		}
	}
	// news-list-card
	&-card {
		margin-bottom: 1.25rem;
		&__link {
			position: relative;
			overflow: hidden;
			text-decoration: none;
			color: white;
			&:hover {
				color: white;
				.news-list-card {
					&__date {
						.public-date {
							background-color: rgba(
								map-get($map: $theme-site-colors, $key: "main"),
								1
							);
						}
					}
					&__background {
						background-color: rgba(black, 0.6);
					}
					&__title {
						background-color: rgba(
							map-get($map: $theme-site-colors, $key: "main"),
							1
						);
					}
				}
			}
		}
		&__date {
			position: absolute;
			top: 0.5rem;
			left: 0.5rem;
			z-index: 2;
			.public-date {
				background-color: rgba(
					map-get($map: $theme-site-colors, $key: "main"),
					0.5
				);
				transition: all 0.3s;
			}
		}
		&__background {
			position: relative;
			z-index: 1;
			min-height: 225px;
			width: 100%;
			transition: all 0.3s;
			background-color: rgba(black, 0.3);
			background-blend-mode: multiply;
			background-size: cover;
			background-position: 50%;
			background-repeat: no-repeat;
		}
		&__title {
			position: absolute;
			bottom: 0;
			z-index: 2;
			padding: 0.5rem;
			margin-bottom: 0;
			width: 100%;
			transition: all 0.3s;
			background-color: rgba(
				map-get($map: $theme-site-colors, $key: "main"),
				0.5
			);
			@include text-hide-ellipsis(1);
		}
	}
}

// news-detail
.news-detail {
	// news-detail-header
	&-header {
		display: flex;
		align-items: center;
		margin-bottom: 1.25rem;
		&__date {
			.public-date {
				background-color: map-get(
					$map: $theme-site-colors,
					$key: "main"
				);
				color: white;
				margin-right: 0.5rem;
			}
		}
		&__title {
			margin-bottom: 0;
			font-weight: bold;
			flex: 1;
		}
		&__author {
			margin-bottom: 0;
		}
	}
	&-content {
		img {
			max-width: 100%;
			height: auto;
		}
	}
}

// collection
.collection {
	&-banner {
		width: 100%;
		height: 20vw;
		background-image: url("assets/images/collections_header_bg_1.jpg");
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		@include mobile {
			background-attachment: initial;
			height: 40vw;
		}
		&__title {
			padding: 0.5rem 1rem;
			background: rgba(map-get($map: $grays, $key: "500"), 0.5);
			color: white;
		}
	}
	&-content {
		&__button {
			min-width: 10vw;
		}
	}
	// compare-table
	&-compare {
		.compare {
			&-table {
				&-img {
					position: relative;
					overflow: hidden;
					img {
						transition: all 0.3s ease-out;
					}
				}
				&__link {
					&:hover {
						img {
							transform: scale(1.2);
						}
					}
				}
				&__title {
					@include text-hide-ellipsis(1);
					font-size: 1.25rem;
				}
			}
		}
	}
}
