@import "_siteVariable";
@import "_grid";

// init
body {
	font-size: 15px;
}
// nav
.navbar {
	transition: all 0.3s;
	&-nav {
		.nav {
			&-link {
				padding-right: 0 !important;
				padding-left: 0 !important;
				position: relative;
				display: inline-block;
				line-height: 25px;
				letter-spacing: 2px;
				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					height: 2px;
					background: map-get($map: $theme-site-colors, $key: "main");
					transition: all 0.3s;
				}
				&:hover,
				&.active {
					&::before {
						width: 100%;
					}
				}
			}
			&-item {
				padding: 0 0.5rem;
				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
	&-light {
		&.bg-white {
			.navbar {
				&-nav {
					.nav {
						&-link {
							&:hover,
							&.active {
								color: map-get(
									$map: $theme-site-colors,
									$key: "main"
								);
								&::before {
									color: map-get(
										$map: $theme-site-colors,
										$key: "main"
									);
								}
							}
						}
					}
				}
			}
		}
	}
	&-dark {
		&.bg-primary {
			.navbar {
				&-nav {
					.nav {
						&-link {
							color: white;
							&:hover {
								&::before {
									background: white;
								}
							}
						}
					}
				}
			}
		}
	}
}

//  breadcrumb
.breadcrumb {
	&-wrapper {
		border-top: 1px solid map-get($grays, "200");
		border-bottom: 1px solid map-get($grays, "200");
	}
	margin-bottom: 0;
	&-item {
		+ .breadcrumb-item {
			&::before {
				font-family: bootstrap-icons !important;
			}
		}
	}
}

.side-navigation {
	&__button--to-top {
		transition: all 0.5s;
		border: 0;
		background: 0;
		box-shadow: none;
		position: fixed;
		right: 15px;
		bottom: 15px;
	}
}

// tag
.tag {
	&__element {
		&--main {
			background: map-get($map: $theme-site-colors, $key: "main");
		}
		&--sec {
			background: map-get($map: $theme-site-colors, $key: "sec");
		}
		&--third {
			background: map-get($map: $theme-site-colors, $key: "third");
		}
		&--fourth {
			background: map-get($map: $theme-site-colors, $key: "fourth");
		}
	}
}

// login
.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

// index
.index {
	&-feature {
		position: relative;
		background: url("https://storage.googleapis.com/vue-course-api.appspot.com/found_houses_v2/1653141239579.png?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=qw5vaDdO7qzw5lOONQEathILcMqPcgwjhoNScgINaUGUHdfszjWdhu6SdmOsjvgxFqnXBe3TBNrBA2s%2Bu7dGRvX0X2ayKPYcTMqlrAluGG6uKHe77Tndg3aucVv4nWfXuXf4f6LUk0dawiRe3pGGC9Tnm%2F2Wl4TOU75lcfxfwwGHvsiFimaAoHNycn1yqB1ck54g2FYYYBBCFDO2I0Y68DoPsoWpXRq%2FlD7%2BVjzhJeQKnr4xqQJzuGH307yxXUH%2FDlX3BLmoeam%2BSvoOtOVp1sLRSXghUYAxwu%2Blb9I%2FPJjpMXFCkKIqtXbOCPcdGt0ZJ%2Fq2%2FWJtTKzS10mJiYt2GA%3D%3D"),
			linear-gradient(0deg, white 50%, #b9efff 100%);
		background-position: center bottom;
		background-size: contain;
		@include pad {
			background-size: cover;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.5;
			background-color: white;
			z-index: 0;
		}
		&__title {
			position: relative;
			z-index: 1;
		}
		&-card {
			position: relative;
			z-index: 1;
			display: inline-block;
			&:hover {
				.index-feature-image {
					img {
						filter: blur(0px);
					}
				}
			}
			&__title {
				margin: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
				color: white;
				font-weight: bold;
			}
		}
		&-image {
			position: relative;
			display: inline-block;
			min-width: 125px;
			width: 125px;
			height: 125px;
			overflow: hidden;
			position: relative;
			letter-spacing: normal;
			border-radius: 50%;
			border: 3px solid white;
			background: map-get($map: $grays, $key: "200");
			zoom: 1;
			@include pad {
				min-width: 100px;
				width: 100px;
				height: 100px;
			}
			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: auto;
				filter: blur(3px);
				transition: all 0.5s;
			}
		}
	}
	&-cases {
		&-footer {
			.case-footer {
				&__button {
					color: white;
				}
			}
		}
	}
}

// page
// page - common
.section {
	&-header {
		overflow: hidden;
		margin-bottom: 1rem;
		&__title {
			margin: 0;
			padding-right: 1rem;
			position: relative;
			display: inline-block;
			z-index: 2;
			color: map-get($map: $theme-site-colors, $key: "main");
			background: white;
			&::after {
				content: "";
				position: absolute;
				z-index: 1;
				top: 50%;
				left: 100%;
				transform: translate(0, -50%);
				width: 100vw;
				height: 2px;
				background: map-get($map: $theme-site-colors, $key: "main");
			}
		}
	}
}

// page - sortCase
.sort-cases {
	&-status {
		background: white;
		border: 1px solid map-get($map: $grays, $key: "300");
		color: map-get($map: $grays, $key: "600");
		&:hover {
			border: 1px solid map-get($map: $theme-site-colors, $key: "main");
		}
		&.dropdown-toggle.show {
			&:focus {
				&::after {
					transform: rotate(180deg);
				}
			}
		}
	}
	&-select {
		&__option {
			color: map-get($map: $grays, $key: "600");
			&:active,
			&.active {
				color: map-get($map: $theme-site-colors, $key: "main");
				background: white;
			}
		}
	}
}
// page - caseCardDisplay
.case-card {
	&-display {
		&__button {
			display: inline-block;
			position: relative;
			cursor: pointer;
			margin-right: 0.25rem;
			transition: all 0.5s;
			&.isActive {
				color: map-get($map: $theme-site-colors, $key: "main");
			}
			&::after {
				content: "";
				position: relative;
				display: inline-block;
				width: 2px;
				height: 1.75rem;
				margin: 0 0.5rem;
				vertical-align: middle;
				background: map-get($map: $grays, $key: "200");
			}
			&:last-child {
				margin-right: 0;
				&::after {
					display: none;
				}
			}
			&:hover {
				color: map-get($map: $theme-site-colors, $key: "main");
			}
		}
		&__icon {
			vertical-align: middle;
		}
	}
}

// page category
.category {
	&-list-item {
		padding-bottom: 1.5rem;
	}
}

// page - card
.card {
	overflow: hidden;
	transition: all 0.3s ease;
	&:hover {
		box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
		.case-item {
			&__card {
				&--cardStyle {
					.card-image {
						&-hover {
							&__title {
								top: 50%;
								opacity: 1;
							}
						}
						img {
							transform: scale(1.2);
						}
						&::before {
							opacity: 1;
							background: rgba(0, 0, 0, 0.5);
						}
					}
				}
				&--listStyle {
					.card-image {
						img {
							transform: scale(1.2);
						}
						&::before {
							opacity: 1;
							background: rgba(255, 255, 255, 0.25);
						}
					}
				}
			}
		}
	}
	.case-item {
		&__card {
			.card {
				&-body {
					@include padWide {
						padding: 0.25rem;
					}
				}
				&-image {
					position: relative;
					overflow: hidden;
					&-hover {
						&__title {
							padding: 0.25rem;
							position: absolute;
							display: inline-block;
							left: 50%;
							top: 30%;
							transform: translate(-50%, -50%);
							opacity: 0;
							z-index: 4;
							color: white;
							transition: all 0.3s ease-out;
							border: 1px solid white;
						}
					}
					img {
						width: 100%;
						height: 203.25px;
						zoom: 1;
						transition: all 0.3s ease-out;
						object-fit: cover;
					}
					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 4;
						opacity: 0;
						transition: all 0.3s ease;
					}
				}
				&-price {
					padding-left: 0.5rem;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 2.25rem;
					line-height: 2.25rem;
					font-size: 1.25rem;
					font-weight: 700;
					z-index: 1;
					background: linear-gradient(
						to right,
						white 0%,
						white 40%,
						#ffffff00 95%
					);
					&__price {
						margin-right: 0.25rem;
						&:last-child {
							margin-right: 0;
						}
						&-unit {
							color: $dark;
							font-size: 1rem;
						}
						&--selling {
							color: $site-sec;
						}
						&--origin {
							color: map-get($grays, "500");
						}
					}
				}
				&-tag {
					position: absolute;
					top: 0;
					left: 0;
					padding: 0.5rem;
					width: 100%;
					line-height: 1;
					z-index: 1;
					.tag {
						margin-bottom: 0.25rem;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
				&-text {
					font-size: 1rem;
					text-align: center;
					&-list {
						&__item {
							display: inline-block;
							&::after {
								display: inline-block;
								content: "|";
								color: map-get($grays, "200");
								margin: 0 0.25rem;
							}
							&:last-child {
								&::after {
									display: none;
								}
							}
						}
						&--light {
							color: map-get($map: $grays, $key: "500");
						}
					}
					&__icon {
						display: inline-block;
						margin-right: 0.125rem;
						text-align: center;
						&-parking {
							width: 1.5rem;
							height: 1.5rem;
							border: 1px solid white;
							border-radius: 0.25rem;
							color: white;
							font-weight: bold;
							background: map-get(
								$map: $theme-site-colors,
								$key: "main"
							);
						}
					}
					@include pad {
						text-align: center;
					}
				}
				&-title {
					font-size: 1.25rem;
					text-align: center;
					padding-bottom: 0.5rem;
					border-bottom: 2px solid
						map-get($map: $theme-site-colors, $key: "main");
				}
			}
			&--listStyle {
				.card {
					&-title {
						position: relative;
						text-align: initial;
						font-size: 1.5rem;
						@include pad {
							text-align: center;
							font-size: 1.25rem;
						}
					}
					&-image {
						img {
							height: 250.25px;
							@include pad {
								height: 203.25px;
							}
						}
					}
					&-text {
						text-align: initial;
						font-size: 1rem;
						@include pad {
							text-align: center;
						}
						&-list {
							margin-bottom: 0.25rem;
						}
					}
					&-feature {
						&-tag {
							&__item {
								color: map-get(
									$map: $theme-site-colors,
									$key: "main"
								);
								background: lighten(
									map-get(
										$map: $theme-site-colors,
										$key: "main"
									),
									65%
								);
								display: inline-block;
								margin-right: 0.25rem;
								&:last-child {
									margin-right: 0;
								}
							}
						}
					}
					&-price {
						padding: 0;
						width: initial;
						height: initial;
						right: 0;
						left: initial;
						top: 0;
						background: 0;
						line-height: initial;
					}
				}
			}
		}
	}
}

// page - item
.case {
	&-assistant {
		&__title {
			padding-bottom: 0.5rem;
			border-bottom: 2px solid
				map-get($map: $theme-site-colors, $key: "main");
			color: map-get($map: $theme-site-colors, $key: "main");
		}
		&__image {
			background-size: cover;
			width: 70px;
			height: 70px;
			border: 1px solid map-get($grays, "500");
			border-radius: 50%;
		}
		&__icon {
			display: inline-block;
			margin-right: 0.25rem;
		}
	}
	&-header {
		&-inner {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__subtitle {
			color: map-get($grays, "600");
		}
		&-tag {
			font-size: 1rem;
			margin-right: 0.5rem;
		}
	}
	&-tag {
		margin-bottom: 0.25rem;
		.tag {
			margin-right: 0.25rem;
			margin-bottom: 0.25rem;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&-price {
		.price {
			&__unit {
				color: black;
			}
			&__selling {
				font-size: 2rem;
				margin-bottom: 0;
				@include pad {
					font-size: 1.25rem;
				}
			}
			&__origin {
				color: map-get($grays, "500");
			}
		}
	}
	&-preview {
		&-list {
			.info-list {
				&-item {
					padding: 0.5rem 0;
					border-top: 1px dotted map-get($grays, "600");
					list-style: none;
				}
				&-title {
					font-weight: bold;
					font-size: 1rem;
					margin-right: 0.25rem;
					color: map-get($map: $theme-site-colors, $key: "main");
					&__icon {
						vertical-align: middle;
					}
				}
			}
		}
		.case-slide {
			.carousel-slide {
				&__image {
					height: 500px;
					@include pad {
						height: 225px;
					}
				}
				.swiper {
					&-button {
						&-prev {
							left: 15px;
						}
						&-next {
							right: 15px;
						}
						&-prev,
						&-next {
							color: white;
						}
					}
					&-pagination-fraction {
						padding: 0.25rem 0.5rem;
						width: initial;
						left: 10px;
						color: white;
						background: rgba(0, 0, 0, 0.5);
						&::before {
							content: "\f220";
							display: inline-block;
							margin-right: 0.5rem;
							width: 1.25rem;
							height: 1.25rem;
							font-size: 1.25rem;
							line-height: 1.25rem;
							vertical-align: top;
							font-family: bootstrap-icons;
						}
					}
				}
			}
			.thumbnail-slide {
				margin-top: 1rem;
				&__image {
					height: 100px;
					cursor: pointer;
					@include pad {
						height: 70px;
					}
				}
				.swiper-button {
					&-prev {
						left: 0;
					}
					&-next {
						right: 0;
					}
					&-prev,
					&-next {
						width: calc(var(--swiper-navigation-size) / 44 * 20);
						height: var(--swiper-navigation-size);
						padding: 0.1rem;
						background: rgba(0, 0, 0, 0.5);
						color: white;
						&::after {
							font-size: 1rem;
							font-weight: bold;
						}
					}
				}
				.slide-item {
					&.swiper-slide {
						opacity: 0.4;
						&.swiper-slide-thumb-active {
							opacity: 1;
							.thumbnail-slide__image {
								border: 3px solid
									map-get(
										$map: $theme-site-colors,
										$key: "main"
									);
							}
						}
					}
				}
			}
			&-footer {
				font-size: 1rem;
				&-notice {
					color: map-get($grays, "600");
				}
			}
		}
	}
	&-detail {
		&-section {
			margin-bottom: 1rem;
		}
	}
	&-table {
		td {
			&:first-child {
				width: 30%;
				background: map-get($grays, "200");
			}
		}
	}
	&-related {
		.list-slide {
			padding-bottom: 0.5rem;
			.swiper-button {
				&-prev {
					left: 0;
				}
				&-next {
					right: 0;
				}
				&-prev,
				&-next {
					width: calc(var(--swiper-navigation-size) / 44 * 25);
					height: var(--swiper-navigation-size);
					padding: 0.5rem;
					background: rgba(0, 0, 0, 0.5);
					color: white;
					&::after {
						font-size: 1.25rem;
						font-weight: bold;
					}
				}
			}
		}
	}
	&-action {
		&__button {
			&:hover {
				color: white;
			}
		}
	}
}
